numpy==1.14.2
asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorlover==0.2.1
cryptography==2.2.2
CVXcanon==0.1.1
cvxopt==1.2.0
cvxpy==0.4.11
cycler==0.10.0
dash==0.21.0
dash-core-components==0.21.0rc1
dash-html-components==0.10.0
dash-renderer==0.12.1
decorator==4.3.0
dill==0.2.7.1
ecos==2.0.4
fastcache==1.0.2
Flask==0.12.2
Flask-Compress==1.4.0
gunicorn==19.7.1
idna==2.6
inflection==0.3.1
intel-openmp==2018.0.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
mkl==2018.0.0
more-itertools==4.1.0
multiprocess==0.70.5
nbformat==4.4.0
ndg-httpsclient==0.5.0
pandas==0.22.0
plotly==2.5.1
pyasn1==0.4.2
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyreadline==2.1
python-dateutil==2.7.2
pytz==2018.4
Quandl==3.3.0
requests==2.18.4
scipy==1.0.1
scs==2.0.2
six==1.11.0
toolz==0.9.0
traitlets==4.3.2
urllib3==1.26.5
Werkzeug==0.14.1
